/backend/node_modules/body-parser/
/backend/node_modules/express/
/backend/node_modules/morgan/
/backend/node_modules/pg/
/backend/node_modules/cookie-parser/
/backend/node_modules/body-parser/
/backend/node_modules/debug/
/backend/node_modules/bcrypt-nodejs/
/backend/node_modules/chai/
/backend/node_modules/chai-as-promised/
/backend/node_modules/superagent/
/frontend/public/lib/bower_components/
