@font-face {
  font-family: 'Roboto Regular';
  src: url('../lib/bower_components/Materialize/dist/font/roboto/Roboto-Thin.ttf');
}
body {
  font-family: 'Roboto Regular';
  font-weight: 600;
}
.header {
  background-color: rgb(200, 200, 200);
  padding: 10px;
}
.content {
  padding: 10px;
}
.tl-collection {
  border: 1px solid rgb(250, 250, 250);
}
.tl-collection-item {
  margin-bottom: 5px;
}
.large {
  width: 800px;
}
.medium {
  width: 600px;
}
.small {
  width: 400px;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
