<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click='vm.addCompany($event)'>Добавить ЮЛ</md-button>
  </div>
</md-toolbar>
<div class="organization-select-panel">
  <div>
    <ul class="list">
      <li ng-repeat='organization in vm.companies' class="item">
        <div class='organization row'>
          <div class='col s2' ng-click="vm.showCompany(company, $event)">
            <span>{{organization.longName}}</span>
            <div class='organization-detail-data'>
              <span>{{organization.id}}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
