<div>
  <button class='waves-effect waves-light btn btn-blue' ng-click='vm.addPerson($event)'>Добавить ФЛ</button>
</div>
<ul>
  <li ng-repeat='person in vm.persons'>
    <div class='personsList'>
      <div>
        <span ng-bind='person.lastName'></span>
        <span ng-bind='person.firstName'></span>
        <span ng-bind='person.middleName'></span>
      </div>
      <div>
        <span ng-bind='person.iin'></span>
        <span ng-bind='person.dob | date:"dd-MM-yyyy"'></span>
      </div>
    </div>
  </li>
</ul>
