<md-dialog aria-label='addPerson' class='large'>
  <md-toolbar>
    <div class='md-toolbar-tools unselectable'>
      <h2>Добавление ФЛ</h2>
      <span flex></span>
      <md-button class='md-icon-button' ng-click='vm.closeDialog()'>
        <md-icon md-svg-src='../../../../resources/icons/close.svg' class='s24' aria-label='Закрыть окно'></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style='padding: 20px;'>
    <div class='md-container unselectable'>
      <form name='vm.personAddForm'>
        <!-- person iin -->
        <md-input-container>
          <label >ИИН:</label>
          <input type="text" name="iin" ng-model='vm.person.id' required>
        </md-input-container>
        <!-- person last name -->
        <md-input-container>
          <label >Фамилия:</label>
          <input type="text" name="lastName" ng-model='vm.person.lastName' maxlength="200" required>
        </md-input-container>
        <!-- person first name -->
        <md-input-container>
          <label >Имя:</label>
          <input type="text" name="lastName" ng-model='vm.person.firstName' maxlength="200" required>
        </md-input-container>
        <!-- person middle name -->
        <md-input-container>
          <label >Отчество:</label>
          <input type="text" name="lastName" ng-model='vm.person.middleName' maxlength="300">
        </md-input-container>
        <!-- person dob -->
        <md-datepicker
          ng-model='vm.person.dob'
          md-placeholder='Дата рождения:'>
        </md-datepicker>
        <!-- person gender -->
        <md-input-container>
          <label>Пол:</label>
          <md-select ng-model="vm.person.genderID">
            <md-option ng-repeat="gender in vm.genders" value="{{gender.id}}">
              {{gender.genderName}}
            </md-option>
          </md-select>
        </md-input-container>
    	</form>
    </div>
  </md-dialog-content>
  <hr>
  <div class='md-actions'>
  	<md-button class='md-primary' type='submit' ng-click='vm.submit(vm.person)'>
      Добавить ФЛ
    </md-button>
  	<md-button type='button' ng-click='vm.closeDialog()'>
      Отмена
    </md-button>
  </div>
</md-dialog>
