<md-dialog aria-label='addPerson' style='width: 500px;'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2>Добавление ФЛ</h2>
      <span flex></span>
      <md-button class='md-icon-button' ng-click='vm.closeDialog()'>
        <md-icon class='fa fa-times fa-lg' aria-label='Закрыть окно'></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style='padding: 20px;'>
    <div class='md-container'>
      <form name='vm.personAddForm'>
        <!-- person iin -->
        <div class='input-field'>
          <label for='iin'>ИИН</label>
          <input
            id='iin'
            type='text'
            ng-model='vm.person.id'
            required name='iin'>
        </div>
        <!-- person last name -->
        <div class='input-field'>
          <label for='lastName'>Фамилия</label>
          <input
            id='lastName'
            type='text'
            class='validate'
            ng-model='vm.person.lastName'
            required name='lastName'>
        </div>
        <!-- person first name -->
        <div class='input-field'>
          <label for='firstName'>Имя</label>
          <input
            id='firstName'
            type='text'
            ng-model='vm.person.firstName'
            class='validate'
            required name='firstName'>
        </div>
        <!-- person middle name -->
        <div class='input-field'>
          <label for='middleName'>Отчество</label>
          <input
            id='middleName'
            type='text'
            ng-model='vm.person.middleName'>
        </div>
        <!-- person dob -->
        <md-datepicker
          ng-model='vm.person.dob'
          md-placeholder='Дата рождения'
          required name='dob'>
        </md-datepicker>
        <!-- person gender -->
        <div class='input-field'>
          <label for='genderID'>Пол</label>
          <input
            id='genderID'
            type="text"
            ng-model='vm.person.genderID'
            class='validate'>
          <!-- <select
            ng-model="vm.person.genderID"
            required name='genderID'>
            <options ng-repeat="gender in vm.genders" value="{{gender.id}}">
              {{gender.genderName}}
            </options>
          </select> -->
        </div>
    	</form>
    </div>
  </md-dialog-content>
  <hr>
  <div class='md-actions'>
  	<button class='btn waves-effect waves-light btn-blue' type='submit' ng-click='vm.submit()'>
      Добавить ФЛ
    </button>
  	<button class='btn waves-effect waves-light btn-blue' type='button' ng-click='vm.closeDialog()'>
      Отмена
    </button>
  </div>
</md-dialog>
