.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.login-form-header {
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: rgb(37, 87, 217);
}
.login-form-content {
  padding: 15px;
}
.login-form-footer {
  display: flex;
  justify-content: center;
}
