.add-organization-panel {
  width: 300px;
}
.organization-select-panel {
  background-color: #9d9d9d;
  width: 300px;
  margin: 0;
  padding: 1px;
  padding-bottom: 2px;
}
.organization {
  background-color: #9f65aa;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
}
.btn-organization-add {
  width: 280px;
  background-color: #9f65aa;
  padding: 5px;
  border-raius: 0 !important;
  margin: 0;
}
.list {
  padding: 0;
  margin: 0;
}
.item {
  margin: 0;
}
