<md-dialog aria-label="Project members" class="large">
  <md-toolbar>
    <div class='md-toolbar-tools unselectable'>
      <h1 class="md-headline bold">Участники проекта</h1>
      <span flex></span>
      <md-button class='md-icon-button' ng-click='vm.closeDialog()'>
        <md-icon md-svg-src='../../../../resources/icons/close.svg' class='s24' aria-label='Закрыть окно'></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="padding-medium">
    <div class="">
      <h1>Участники проекта {{vm.projectID}}</h1>
    </div>
  </md-content>
  <md-dialog-actions class="align-center">
    <md-button ng-click='vm.closeDialog()'>
      Закрыть
    </md-button>
  </md-dialog-actions>
</md-dialog>
